In [1]:
# import libraries
import pandas as pd

In [4]:
df = pd.read_csv('NRP.csv', encoding='windows-1252') # 
df.head()

,Name,Age,Location,Crime,Date
0,William HUME,50 Yrs,No Fixed Address,"['', '', '\xa0Break and Enter', 'Fail to Atten...",2023.08.30
1,Paul ST PIERRE,46 Yrs,No Fixed Address,"['', '', 'Break and Enter x3', '', '', '23-885...",2023.08.30
2,Kipp DALE-PAISLEY,32 Yrs,St Catharines,"['', '', 'Assault', '', '', '23-91405', '', '']",2023.08.30
3,Peter THOMAS,46 yrs,Welland,"['', '', 'Fail to Comply Release Order', '', '...",2023.08.30
4,Rachel FRASER,32 yrs,Welland,"['', '', 'Fail to Attend Court', '', '', '23-9...",2023.08.30

In [7]:
df.isnull().sum()

Name          0
Age         114
Location    114
Crime         0
Date          0
dtype: int64