In [1]:
# import libraries
import pandas as pd

In [96]:
df = pd.read_csv('NRP.csv', encoding='windows-1252') # 
df.head()

,Name,Age,Location,Crime,Date
0,William HUME,50 Yrs,No Fixed Address,"['', '', '\xa0Break and Enter', 'Fail to Atten...",2023.08.30
1,Paul ST PIERRE,46 Yrs,No Fixed Address,"['', '', 'Break and Enter x3', '', '', '23-885...",2023.08.30
2,Kipp DALE-PAISLEY,32 Yrs,St Catharines,"['', '', 'Assault', '', '', '23-91405', '', '']",2023.08.30
3,Peter THOMAS,46 yrs,Welland,"['', '', 'Fail to Comply Release Order', '', '...",2023.08.30
4,Rachel FRASER,32 yrs,Welland,"['', '', 'Fail to Attend Court', '', '', '23-9...",2023.08.30

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      142 non-null    object
 1   Age       28 non-null     object
 2   Location  28 non-null     object
 3   Crime     142 non-null    object
 4   Date      142 non-null    object
dtypes: object(5)
memory usage: 5.7+ KB

In [36]:
df.isnull().sum() # check the null values

Name          0
Age         114
Location    114
Crime         0
Date          0
dtype: int64

In [61]:
len(df)

142

In [150]:

for i in range(len(df)):
        if df.isnull().iloc[i,1]:
                df.iloc[i,1]= df['age2'][i][0]

In [178]:
df.tail()

,Name,Age,Location,Crime,Date,age2,age3
137,Jeremy WALL,['40 yrs','Fort Erie',"['40 yrs', '', '', 'Fort Erie', '', '', '', ''...",updated: 2018.12.12,"[['40 yrs', '', '', 'Fort Erie', '', '', ...",['40 yrs'
138,Noel TONER,['33 yrs','Niagara Falls\xa0',"['33 yrs', '', '', 'Niagara Falls\xa0', '', ''...",updated: 2018.12.12,"[['33 yrs', '', '', 'Niagara Falls\xa0', '...",['33 yrs'
139,Michael ANNIS,['46 yrs','Niagara Falls',"['46 yrs', '', '', 'Niagara Falls', '', '', ''...",2017.04.05,"[['46 yrs', '', '', 'Niagara Falls', '', ...",['46 yrs'
140,"Andrew DEWEESE,",['30 Yrs','Niagara Falls',"['30 Yrs', '', '', 'Niagara Falls', '', '', ''...",2016.11.01,"[['30 Yrs', '', '', 'Niagara Falls', '', ...",['30 Yrs'
141,Richard BARTSCHER,['39 yrs','Niagara Falls',"['39 yrs', '', '', 'Niagara Falls', '', '', '\...",2016.08.01,"[['39 yrs', '', '', 'Niagara Falls', '', ...",['39 yrs'

In [165]:
for i in range(len(df)):
        if df.isnull().iloc[i,2]:
                df.iloc[i,2]= df['age2'][i][3]

In [168]:
df.isnull().sum()

Name        0
Age         0
Location    0
Crime       0
Date        0
age2        0
age3        0
dtype: int64

In [262]:
char_remove = ['[', '\'', 'Yrs','yrs', '.','Years','old', '\\xa0' ]
for char in char_remove:
    df['Age']=df['Age'].str.replace(char, '')

df['Age']

0                  50
1                  46
2                  32
3                  46
4                  32
5                  44
6                  25
7                  35
8                  35
9                  37
10                 37
11                 39
12     Thomas KORMENDY
13                 38
14                 50
15                 44
16                 37
17                 43
18       Daniel DUNPHY
19                 35
20                 39
21                 59
22                 65
23                 33
24      Jacob GARRIOCK
25                 43
26                 33
27                 47
28
29                 50
30                 47
31                 45
32                 34
33
34                 37
35                 39
36                 25
37                 46
38                 31
39                 24
40                 40
41                 54
42                 19
43                 22
44                 36
45                 40
46                 35
47
48                 56
49                 32
50                 35
51                 35
52                 39
53                 29
54                 29
55                 22
56                 40
57                 39
58                 27
59                 41
60                 33
61                 31
62                 25
63                 45
64                 55
65                 32
66                 31
67                 34
68                 47
69                 37
70                 40
71                 35
72                 32
73                 36
74                 36
75                 41
76                 31
77                 23
78                 43
79                 29
80                 53
81                 33
82                 32
83                 21
84                 23
85                 32
86                 29
87                 24
88                 73
89                 47
90                 34
91                 22
92                 34
93                 25
94                 30
95                 36
96                 28
97                 36
98                 35
99                51
100                25
101                28
102                45
103                29
104                30
105                38
106                52
107                36
108                32
109                33
110                39
111                46
112                31
113                 21
114                60
115                41
116                28
117                21
118                37
119                45
120                40
121                41
122                38
123                33
124                27
125                38
126                28
127                35
128                26
129                34
130                66
131                32
132                35
133                 30
134                 57
135                40
136                54
137                40
138                33
139                46
140                30
141                39
Name: Age, dtype: object

In [245]:
df['Name'] = df['Name'].apply(str)

In [263]:
df.Age.str.strip()

0                   50
1                   46
2                   32
3                   46
4                   32
5                   44
6                   25
7                   35
8                   35
9                   37
10                  37
11                  39
12     Thomas KORMENDY
13                  38
14                  50
15                  44
16                  37
17                  43
18       Daniel DUNPHY
19                  35
20                  39
21                  59
22                  65
23                  33
24      Jacob GARRIOCK
25                  43
26                  33
27                  47
28
29                  50
30                  47
31                  45
32                  34
33
34                  37
35                  39
36                  25
37                  46
38                  31
39                  24
40                  40
41                  54
42                  19
43                  22
44                  36
45                  40
46                  35
47
48                  56
49                  32
50                  35
51                  35
52                  39
53                  29
54                  29
55                  22
56                  40
57                  39
58                  27
59                  41
60                  33
61                  31
62                  25
63                  45
64                  55
65                  32
66                  31
67                  34
68                  47
69                  37
70                  40
71                  35
72                  32
73                  36
74                  36
75                  41
76                  31
77                  23
78                  43
79                  29
80                  53
81                  33
82                  32
83                  21
84                  23
85                  32
86                  29
87                  24
88                  73
89                  47
90                  34
91                  22
92                  34
93                  25
94                  30
95                  36
96                  28
97                  36
98                  35
99                  51
100                 25
101                 28
102                 45
103                 29
104                 30
105                 38
106                 52
107                 36
108                 32
109                 33
110                 39
111                 46
112                 31
113                 21
114                 60
115                 41
116                 28
117                 21
118                 37
119                 45
120                 40
121                 41
122                 38
123                 33
124                 27
125                 38
126                 28
127                 35
128                 26
129                 34
130                 66
131                 32
132                 35
133                 30
134                 57
135                 40
136                 54
137                 40
138                 33
139                 46
140                 30
141                 39
Name: Age, dtype: object

In [211]:
import re

In [249]:
# identify non numeric rows in Age column
nonumeric = re.compile(r'\D')

df['nonnumeric'] = df['Age'].str.contains(nonumeric).any()

In [264]:
pd.set_option('display.max_rows', None)
df[['Name', 'Age']]

                       Name              Age
0              William HUME              50
1            Paul ST PIERRE              46
2         Kipp DALE-PAISLEY              32
3              Peter THOMAS              46
4             Rachel FRASER              32
5        Melissa CUNNINGHAM              44
6            Joshua NUZIATO              25
7              Justin YATES              35
8               Kidus DAWIT              35
9                  Paul VOK              37
10             Ryan CAMERON              37
11         Sharlene FREEMAN              39
12          August 25, 2023  Thomas KORMENDY
13           Andrew ROMANYK              38
14              Lloyd GRICE              50
15              Timothy PYE              44
16           Allan EGGLETON              37
17         Randy VASILOVICH              43
18          August 30, 2023    Daniel DUNPHY
19              James ADAMS              35
20      Sindy HOULE-POIRIER              39
21             Gary JOLIVET              59
22             Thomas MARKO              65
23            Jessica SCOTT              33
24          August 21, 2023   Jacob GARRIOCK
25          Saranjit THANDI              43
26         Jessica MCGREGOR              33
27            Jamie RANDALL              47
28          August 29, 2023
29      Kenneth DOMBROSKIE               50
30             Shari VERNON              47
31           Robert JOHNSON              45
32             Adam MCKEOWN              34
33          August 21, 2023
34             Ryan DENOMME              37
35            Michael COSBY              39
36        Quinton PENNERMAN              25
37             James JACOBS              46
38          Jordan NICHOLLS              31
39             Jaymz JANSEN              24
40            Denise DOLAN               40
41           Tammara TITIAN              54
42          Taylor SIBBETT               19
43            Bailey MORIN               22
44            Wade SIMMONDS              36
45              Holly MILLS              40
46             Krystal HAMM              35
47          August 21, 2023
48           Richard SIMONS              56
49             Dakota MOORE              32
50               Paul DUGAS              35
51             Jacob O'NEAL              35
52               James COOK              39
53       Mitchell VAN DUSEN              29
54               Brady KEMP              29
55         Melissa MCGIBBON              22
56       Elizabeth CRAWFORD              40
57           Katelyn CASSON              39
58          Mortimer DAVIS               27
59           Travis KENNEDY              41
60      Cody PORTER-PRINTUP              33
61       Christopher PLUIM               31
62         Sukhwinder SINGH              25
63        Milena ZELENOVICH              45
64           Gregory SCHATZ              55
65        Brandon HARBRIDGE              32
66           Ahmed SULIMAN               31
67          Zachary JOHNSON              34
68       Demonte L. RANDALL              47
69            Brian WHITE M              37
70              Gavin PAYNE              40
71             Daniel BLAKE              35
72           Sean GUMMERSON              32
73             Alexis SWORD              36
74             Jason MILLER              36
75           Boysie MURRAY               41
76              Ryan WALLS               31
77             Prince ONYIA              23
78            Michael COCCA              43
79       Alexander PIDGEON               29
80             Robert LENIK              53
81        Michael MACCALLUM              33
82          Alexander GREEN              32
83              Rosa VARGAS              21
84          Samuel VALENTIN              23
85       Christopher HICKS               32
86         Mustafa MUSTAFA               29
87          Joshua BERGERON              24
88        Edmond BERMINGHAM              73
89             Donald LUSH               47
90    Justin Michael KENIRY              34
91          Austin DOXTATOR              22
92       Samantha LOVERIDGE              34
93         Jeffrey HUNEAULT              25
94              Desire BEAM              30
95         Cheyenne CHARRON              36
96           Rajwant SINGH               28
97         Virginia COSTIFF              36
98           Nima REZAZADEH              35
99           Glenn PETERSON             51
100             Tyler KELLY              25
101        Teneal RICHARDS               28
102            Larry MCLEAN              45
103            Edlyn MILLER              29
104           Douglas FUNKE              30
105        Matthew PELIKAN               38
106           Roger FOUGERE              52
107         Stacey MATCHETT              36
108             Andrew MUIR              32
109        Matthew CLARKSON              33
110        Jason MANDALFINO              39
111            Younis BADRI              46
112           Nicole MOORE               31
113          Joseph SHIPMAN               21
114           Richard EARL               60
115            Jason DOWNEY              41
116          Johnathan KERR              28
117           Carerinena TE              21
118      Michael SORGENFREI              37
119          Gabriel JOHNS               45
120         Michael BILOWUS              40
121            David PARENT              41
122            Darryl HAYES              38
123     Daniel John VERMONT              33
124  Brandi STEWART-SPERRY               27
125             Jack BEAZER              38
126           Connor MCCANN              28
127          Aaron DOUCETTE              35
128       Bradley NICKERSON              26
129        Francois GELINAS              34
130              Xiwen JIA               66
131           Serge LEBLANC              32
132       Jacqueline O'SOUP              35
133           Ashley WHITTY               30
134          Bryan WOODRUFF               57
135         Shawn HENDERSON              40
136          Jamie WESTLAKE              54
137             Jeremy WALL              40
138              Noel TONER              33
139           Michael ANNIS              46
140         Andrew DEWEESE,              30
141       Richard BARTSCHER              39

In [251]:
df.loc[df['nonnumeric'] == False]

Empty DataFrame
Columns: [Name, Age, Location, Crime, Date, age2, age3, nonnumeric]
Index: []

In [209]:
df.tail()

,Name,Age,Location,Crime,Date,age2,age3
137,Jeremy WALL,40,'Fort Erie',"['40 yrs', '', '', 'Fort Erie', '', '', '', ''...",updated: 2018.12.12,"[['40 yrs', '', '', 'Fort Erie', '', '', ...",['40 yrs'
138,Noel TONER,33,'Niagara Falls\xa0',"['33 yrs', '', '', 'Niagara Falls\xa0', '', ''...",updated: 2018.12.12,"[['33 yrs', '', '', 'Niagara Falls\xa0', '...",['33 yrs'
139,Michael ANNIS,46,'Niagara Falls',"['46 yrs', '', '', 'Niagara Falls', '', '', ''...",2017.04.05,"[['46 yrs', '', '', 'Niagara Falls', '', ...",['46 yrs'
140,"Andrew DEWEESE,",30,'Niagara Falls',"['30 Yrs', '', '', 'Niagara Falls', '', '', ''...",2016.11.01,"[['30 Yrs', '', '', 'Niagara Falls', '', ...",['30 Yrs'
141,Richard BARTSCHER,39,'Niagara Falls',"['39 yrs', '', '', 'Niagara Falls', '', '', '\...",2016.08.01,"[['39 yrs', '', '', 'Niagara Falls', '', ...",['39 yrs'